<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aion_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <Aion_Launcher.Properties.Settings>
            <setting name="AutoUPD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Capacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="License" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>Логин</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>Пароль</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SCCB" serializeAs="String">
                <value>Siel</value>
            </setting>
            <setting name="Extra" serializeAs="String">
                <value />
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Tray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monitoring" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RestartAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ping" serializeAs="String">
                <value>True</value>
            </setting>
        </Aion_Launcher.Properties.Settings>
    </userSettings>
</configuration>
